# Week 3 Assignment Notebook

# UC San Diego OMDS DSC 207

There is no autograder for this assignment. All portions are manually graded, and you will submit a PDF of your Colab notebook rather than your Python notebook itself. Within this notebook, you must also paste a link to this notebook. Instructions for exporting your Colab notebook as a PDF are at the bottom of this notebook.

## Part 0

Add a shareable link (with public viewing permissions) to this Colab notebook in a **text box** (not code block) below. If you add it in a code block, we may not be able to access it if the link is too long. This is required so that we are able to verify and potentially run your code.

If you used Jupyter Notebooks, upload it to Colab first and share the link below.

LINK TO THIS COLAB NOTEBOOK HERE:

### Import pandas and numpy
Rename libraries as pd and np while importing.

In [ ]:
# LOAD LIBRARIES
# LOAD LIBRARIES
import pandas as pd
import numpy as np

## Part 1

### 1.1 **Fetch and read book data**
In this assignment, we will be working with a dataset of books - https://raw.githubusercontent.com/dsc207rfall2023/fa23course-dsc207r/main/assignments/Week%203/input_data/books_hw.csv. As you may have noticed, the file type is csv - comma separated values. **Read this data into a pandas dataframe `books`.** (Hint - It might be useful to look into [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) for reading csv files. If you come across some 'bad' lines in the dataset, the parameter `on_bad_lines` may be useful)) [0.5pt]

In [ ]:
# note lines 3350,4704, 5879, and 8981 are skipped
books = pd.read_csv('books_hw.csv',on_bad_lines='warn')

<ipython-input-4-47bf0e4eea03>:2: ParserWarning: Skipping line 3350: expected 12 fields, saw 13
Skipping line 4704: expected 12 fields, saw 13
Skipping line 5879: expected 12 fields, saw 13
Skipping line 8981: expected 12 fields, saw 13

  books = pd.read_csv('books_hw.csv',on_bad_lines='warn')

In [ ]:
assert isinstance(books, pd.DataFrame)

<!-- BEGIN QUESTION -->

### 1.2 **To verify that `books` contains data, display/print the first 10 rows of the dataset.**
[0.5pt]

In [ ]:
# WRITE YOUR CODE HERE
books.head(10)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
5,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
6,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
7,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
8,13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
9,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

<!-- END QUESTION -->

### 1.3 **Change Index to bookID**
In the above dataframe, you can see that there is an index before the first column `bookID`. Instead we can have bookID as the index for better searching and filtering. **Change the index of `books` to `bookID`.** (Hint - make sure the you are applying the changes to the same dataframe) [0.5pt]

In [ ]:
# WRITE YOUR CODE HERE

books.set_index('bookID',inplace=True)

In [ ]:
assert books.shape == (11123, 11)

<!-- BEGIN QUESTION -->

### 1.4 To verify change in index, **print the first 10 rows of the updated dataframe `books`.** [0.5pt]

In [ ]:
 # WRITE YOUR CODE HERE
books.head(10)

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

<!-- END QUESTION -->

### 1.5 **Store the total number of samples (rows) in dataset in `num_books` and print the result as well.** [0.5pt]

In [ ]:

num_books = books.shape[0]
print(f'the total number of samples is: {num_books}')

the total number of samples is: 11123

## Part 2

### 2.1 **Filtering dataframes**

We may want the ability to get data based on certain criteria to perform analysis or derive statistics. **Get all rows from the dataframe `books` for which author is "J.R.R. Tolkien" and store it in `booksByTolkien`.** [0.5pt]

In [ ]:
# WRITE YOUR CODE HERE

booksByTolkien = books[books['authors'].isin(['J.R.R. Tolkien'])]
booksByTolkien.head()

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
30,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,J.R.R. Tolkien,4.59,0345538374,9780345538376,eng,1728,101233,1550,9/25/2012,Ballantine Books
31,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.50,0618517650,9780618517657,eng,1184,1710,91,10/21/2004,Houghton Mifflin Harcourt
34,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.36,0618346252,9780618346257,eng,398,2128944,13670,9/5/2003,Houghton Mifflin Harcourt
2331,The Lord of the Rings- 3 volumes set (The Lord...,J.R.R. Tolkien,4.50,0618574999,9780618574995,en-US,1438,232,9,6/1/2005,Mariner Books
5898,The Lord of the Rings (The Lord of the Rings ...,J.R.R. Tolkien,4.50,0007136587,9780007136582,eng,1200,682,43,9/16/2002,Not Avail

In [ ]:
assert isinstance(booksByTolkien, pd.DataFrame)

### 2.2 **Data analysis using dataframes**

Since a dataframe is a collection of large amounts of data, often dealing with numeric data. This data can be used to create aggregations, which is very useful in deriving actionable insights.

**Mean - Find average rating of all books present in the dataset and store in `avg_book_rating`.** [0.5pt]

**Calculate the sum of rating_count in `booksByTolkien` and store it in `total_rating_count`** [0.5pt]

In [ ]:

avg_book_rating = books.average_rating.mean()
print(f'average book rating for all books: {avg_book_rating}')
total_rating_count = booksByTolkien.ratings_count.sum()
print(f'sum of rating count for tolkien is: {total_rating_count}')

average book rating for all books: 3.9340753393868564
sum of rating count for tolkien is: 4776638

### 2.3 **Average rating of books written by "J.K. Rowling"**

Use the ability of filtering dataframes and find the mean of the filtered dataframe. Store the result in `avg_Rowling_book_rating` [1pt]

In [ ]:
rowling_books = books[books['authors'].isin(['J.K. Rowling'])]
avg_Rowling_book_rating = rowling_books.average_rating.mean()
print(avg_Rowling_book_rating)

4.513636363636365

## Part 3

### 3.1 **How many unique authors are present in this dataset?**
Store the result in `num_authors`. (Hint - is there a function to do this?) [0.5pt]

In [ ]:

num_authors = len(books.authors.unique())
print(num_authors)

6639

### 3.2 **What is the maximum average rating for a book in the dataset?**
Store the result in `maxRating`. Print `maxRating`. [0.5pt]

In [ ]:

maxRating = books.average_rating.max()
print(maxRating)

5.0

<!-- BEGIN QUESTION -->

### 3.3 **Authors of the books which are rated maximum**
One sample data analysis task would be to find the authors who have high rated books. This information could be of great use to a publisher or book store chain.


Store the author name, book title and average rating of the books who have maximum rating, in a dataframe `maxRatedAuthors`. Print `maxRatedAuthors`. [0.5pt]

Print the number of max rated authors. [0.5pt]

In [ ]:
df_max = books[books['average_rating'] == maxRating]
df_max = df_max[['authors','title','average_rating']]

maxRatedAuthors = df_max
print(len(df_max.authors.unique()))

21

In [ ]:
assert maxRatedAuthors is not None and isinstance(maxRatedAuthors, pd.DataFrame)

assert all(col in maxRatedAuthors.columns for col in ['authors', 'title', 'average_rating'])

<!-- END QUESTION -->

### 3.4 List books whose rating count is greater than 2000 and average rating is more than 4.70

Store this into a dataframe `popularBooks`. Ensure that all the columns are preserved. Print `popularBooks`. [0.5pt]

In [ ]:

popularBooks = books[(books['ratings_count'] > 2000) & (books['average_rating'] > 4.70)]
popularBooks.head()
popularBooks.shape[0]

6

In [ ]:
assert popularBooks is not None and isinstance(popularBooks, pd.DataFrame)

<!-- BEGIN QUESTION -->

### 3.5 Describe the dataset
We want to use statistics to get a general idea of the dataframe and its numerical values.

Using [describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html), provide the counts, mean, standard deviation, mins, percentiles and maxs of the dataframe `popularBooks`. [0.5pt]

In [ ]:
# WRITE YOUR CODE HERE
popularBooks.describe(include='all')

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
count,6,6,6.000000,6,6.000000e+00,6,6.000000,6.000000,6.000000,6,6
unique,6,3,NaN,6,NaN,1,NaN,NaN,NaN,6,2
top,Harry Potter Boxed Set Books 1-5 (Harry Potte...,Bill Watterson,NaN,0439682584,NaN,eng,NaN,NaN,NaN,9/13/2004,Andrews McMeel Publishing
freq,1,4,NaN,1,NaN,6,NaN,NaN,NaN,1,4
mean,NaN,NaN,4.753333,NaN,9.780672e+12,NaN,1322.666667,24122.666667,430.000000,NaN,NaN
std,NaN,NaN,0.041793,NaN,1.850730e+08,NaN,1421.230828,13261.232622,351.679968,NaN,NaN
min,NaN,NaN,4.710000,NaN,9.780440e+12,NaN,96.000000,3613.000000,85.000000,NaN,NaN
25%,NaN,NaN,4.722500,NaN,9.780515e+12,NaN,176.000000,17492.500000,195.500000,NaN,NaN
50%,NaN,NaN,4.745000,NaN,9.780741e+12,NaN,816.000000,26058.500000,296.500000,NaN,NaN
75%,NaN,NaN,4.775000,NaN,9.780812e+12,NaN,2381.500000,31220.250000,681.750000,NaN,NaN
max,NaN,NaN,4.820000,NaN,9.780836e+12,NaN,3342.000000,41428.000000,930.000000,NaN,NaN

<!-- END QUESTION -->

## Part 4

### 4.1 Which are 7 most popular book languages(language_code) in this dataset?
Print the `language_code` and count of the 7 highest occuring languages in the dataset. (Hint - `<dataframe>.<column-name>` gives you a series. With this, can you use [value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html) to get the answer? Store the result in `popularLang`. [1pt]

In [ ]:

popularLang = books.language_code.value_counts().head(7)
popularLang

language_code
eng      8908
en-US    1408
spa       218
en-GB     214
fre       144
ger        99
jpn        46
Name: count, dtype: int64

In [ ]:
assert type(popularLang) == pd.Series

assert len(popularLang) == 7

<!-- BEGIN QUESTION -->

### 4.2 Print the number of books that have an average rating within 2 standard deviations from mean average rating of the entire dataset.
[Standard deviation](https://en.wikipedia.org/wiki/Standard_deviation) tells you how spread out the data is. It is a measure of how far each observed value is from the mean. In any distribution, about 95% of values will be within 2 standard deviations of the mean.
Hence, for the given task, we want to find the number of books who have an average rating from `mean-2*std_dev` to `mean+2*std_dev`. [1pt]

In [ ]:
# WRITE YOUR CODE HERE
books_mean = books.average_rating.mean()
books_std = books.average_rating.std()
books_two_std = books[(books['average_rating'] > books_mean - 2*books_std) & (books['average_rating'] < books_mean + 2*books_std)]
books_two_std.shape[0]

10854

<!-- END QUESTION -->

### 4.3 Find books with language code as 'ger' and whose publication date is between 2001 and 2005. (Optional)
(Hint - How do we get the year from the publication date in its current form? Can we use [pd.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html) to extract what we need for this task?)

In [ ]:
# WRITE YOUR CODE HERE
# get rid of bad dates.. set bad dates to na
books['publication_date'] = pd.to_datetime(books['publication_date'], errors='coerce')
# drop na values and update books data frame
books.dropna(subset=['publication_date'],inplace=True)
# create new df for german books between the years 2001 and 2005
ger_books = books[(books['language_code'] == 'ger') & (books['publication_date'].dt.year >= 2001) & (books['publication_date'].dt.year <= 2005)]
ger_books.head()

,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
bookID,,,,,,,,,,,
2875,Wenn Engel fallen,Tracy Chevalier,3.58,3471772537,9783471772539,ger,384,6,1,2002-02-01,List
3316,Die Brücke über die Drina,Ivo Andrić/Ernst E. Jonas,4.33,3518399608,9783518399606,ger,407,9,0,2003-03-01,Suhrkamp
3966,Die Hyperion-Gesänge,Dan Simmons/Joachim Körber,4.42,3453215281,9783453215283,ger,1456,141,11,2002-08-01,Heyne
4624,Chronik eines angekündigten Todes,Gabriel García Márquez/Curt Meyer-Clason,3.97,3462031953,9783462031959,ger,119,11,1,2002-08-01,Kiepenheuer & Witsch
5412,The Stand: Das letzte Gefecht,Stephen King/Joachim Körber,4.34,3404134117,9783404134113,ger,1227,256,16,2003-09-01,Bastei Lübbe

## Part 5: Video

Submit a video no longer than 4 minutes with the following components:
* How you read the books dataset CSV, including how you skipped "bad" lines. (1 min) [1 pt]
* Describe the dataset. For instance, you could explain what some of the columns are, how many books are in the dataset, some statistical information about mean and standard deviation, etc. (1 min) [1 pt]
* Pick one or two subproblems from the assignment and describe the code in fine detail. Ensure you are sharing your screen with your code for this portion. (2 min) [2 pt] You might explain:
    * How you found the average rating of books written by "J.K. Rowling" or how you listed all books whose rating count is greater than 2000 and average rating is more than 4.70.
    * How you listed all books whose rating count is greater than 2000 and average rating is more than 4.70.

Additionally (and this is important), ensure you follow the format the video submission. If one of these criteria is missing, we will not grade the video.
* Show some form of ID at the start of the video so we know who you are.
* Show your code in the video by screensharing.
* Show your face in the video.

Upload the recorded video to your Drive and paste the shareable (**publicly viewable**) (half marks will be deducted if we cant access the video in the original submission) link in a **text box** below.

Note: Ensure that we are able to view the video.

LINK TO YOUR VIDEO HERE:

# insert video here

In [ ]:
# https://drive.google.com/file/d/1ciDntHSFq0Q5fRzUH9zWz6OspkANYZDI/view?usp=sharing

## Part 6: Extra credit (optional)

Below, we have provided code to download a CSV file containing Pokemon data.
(You can learn more about pokem [here](https:https://en.wikipedia.org/wiki/Pok%C3%A9mon))

First, identify two interesting questions that you want to answer about the dataset. These questions should not be easily answerable by a simple visual inspection of the dataset. The questions should have quantitative answers.

Then, find the answer to your two interesting questions using pandas dataframes and dataframe operations.

Rubric:
* Read the CSV file into a pandas dataframe. (0.5 pt)
* Perform pandas dataframe operations to answer your chosen question #1. (0.5 pt)
* Perform pandas dataframe operations to answer your chosen question #2. (0.5 pt)
* Include a comment or text box with a description of the answers to your chosen questions. (0.5 pt)

In the event that you have a borderline grade (just below a grade threshold) at the end of the quarter, extra credit points may be considered when bumping students up a grade.

In [ ]:
# Run this cell to download the pokemon.csv file.
import requests
url = 'https://dl.dropboxusercontent.com/scl/fi/kathb0yft8k573eiqtvra/pokemon.csv?rlkey=vtswtovmyql525clxklbdkmes&st=sriioni3&dl=0'

response = requests.get(url)

if response.status_code == 200:
    with open('pokemon.csv', 'wb') as file:
        file.write(response.content)
    print('File downloaded successfully')
else:
    print('Failed to download file')

File downloaded successfully

In [ ]:
'''
* Read the CSV file into a pandas dataframe. (0.5 pt)
* Perform pandas dataframe operations to answer your chosen question #1. (0.5 pt)
* Perform pandas dataframe operations to answer your chosen question #2. (0.5 pt)
* Include a comment or text box with a description of the answers to your chosen questions. (0.5 pt)
'''
# read pokemon csv
pokemon = pd.read_csv('pokemon.csv')

print(f'total pokemon in csv {pokemon.shape[0]}')
#Q1 what legendary pokemon has the highest attack?
legends = pokemon[pokemon['Legendary'] == True]
legends.sort_values(by='Attack',ascending=False).head(1)

#Q1 ans: MewtwoMega Mewtwo X with attack of 190


#Q2 what is the most common Type 1 pokemon and how many are there?
pokemon['Type 1'].value_counts()

#Q2 ans: Water is the most common Type 1 with 112 pokemon

total pokemon in csv 800

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

## Submission

Before you submit your notebook, ensure that you've run all the cells sequentially to display images, graphs, and outputs correctly. Take the time to review your solutions and evaluate using the public test cases. Once you're satisfied, save your notebook by navigating to "File" in the Colab Notebook menu and selecting "Save" or using the keyboard shortcut (usually Ctrl + S or Cmd + S).

To submit, export your notebook as a PDF. You can do this by going to File > Print. Then set Destination to Save as PDF. Remember to submit the correct version. Ensure this contains all your cellls, as this method sometimes cuts off part of the notebook!

Alternatively, you can download your notebook as an .ipynb file and open the notebook locally in Jupyter Notebook or JupyterLab, which you installed during week 1: https://docs.google.com/document/d/1GvmuibsigCywMGdYhdoQpFiGOKGgps3ajcaF-0I6FjY/edit?usp=sharing. You can then go to File > Save and Export Notebook as, and save your notebook as a PDF. If you run into an error trying this, you can save the notebook as an HTML file, and then save this HTML file as a PDF.

Please save your work before exporting it, and if you encounter any technical issues or have questions about the submission process, reach out to the course staff for assistance.